{{define "header"}}
<header class="flex-shrink sticky top-0 bg-light text-dark font-semibold border-r-accent-1 border-r-2 border-t-2 overscroll-none">
    <div id="links" class="sticky top-0">
        <ul class="flex flex-row-reverse lg:flex-col gap-1">
            <li id="home-link" class="text-4xl p-2 hover:bg-accent-1"
                hx-get="/views/home" hx-trigger="click" hx-target="#content">
                Home
            </li>
            <li id="sites-link" class="text-4xl p-2 hover:bg-accent-1"
                hx-get="/views/sites" hx-trigger="click" hx-target="#content">
                Sites
            </li>
            <li id="resume-link" class="text-4xl p-2 hover:bg-accent-1">
                <a href="/resources/z-geary_resume_online.pdf">Resume</a>
            </li>
        </ul>
    </div>
</header>
{{end}}