{{define "siteblock"}}
<div class="grid grid-cols-5 bg-light border-solid border-2 border-r-accent-1">
    <a class="col-span-2" href="https://cs.sunyocc.edu/~z.geary/cis130/index.html" >
        <img src="res/world-of-ai-art.png" alt="test" class="">
    </a>
    <a class="col-span-3" href="https://cs.sunyocc.edu/~z.geary/cis130/index.html">
        <div class="flex flex-col ">
            <h2 class="bg-dark text-xl p-6">{{.SiteName}}</h2>
            <p  class="p-4 text-dark text-lg">{{.SiteDesc}}</p>
        </div>
    </a>
</div>
{{end}}